.App {
    font-family: Georgia, serif;
    margin: auto;
    width: 60%;
}

h1 {
    background-color: rgba(0, 0, 255, 0.25);
    border: 5px solid rgb(0, 0, 255);
    border-radius: 25px;
    margin: 15px;
}
.score-bar {
    background-color: rgba(255, 255, 0);
    border-radius: 25px;
    height: 50px;
    width: 350px;
    float: right;
    margin: 15px;
    font-size: 18px;
}
.body {
    background-color: rgba(0, 255, 0, 0.25);
    border: 5px solid rgb(0, 255, 0);
    border-radius: 25px;
    font-size: 20px;
}

p,
form,
.title,
.points-player,
.points,
.question {
    margin: 15px;
}
.points,
.question {
    text-align: left;
}
h1,
form,
.points-player {
    text-align: center;
}

.btn,
.quit,
.name-input,
.input-field {
    font-family: Georgia, serif;
    font-size: 20px;
    margin: 10px;
    padding: 5px 5px;
}
.btn {
    height: 40px;
    width: 200px;
}
.quit {
    border: 2px solid orange;
    background: rgb(255, 255, 0, 0.75);
    height: 40px;
    width: 500px;
}
.name-input {
    height: 30px;
    width: 500px; 
}

form,
table,
.name-input {
    width: 60%; 
    margin-left: 20%; 
    margin-right: 20%;

}
table {
    margin-top: 20px;
    margin-bottom: 20px;
	border: 2px solid black;
	border-collapse: collapse;
    background: #ECE3AA;
}
caption {
	font-size: 30px;
    font-weight: bold;
	text-align: left;
	color: rgb(100,100,100);
}
td,
th {
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}
th {
    font-size: 20px;
	border: 1px solid black;
	border-bottom: 2px solid black;
	vertical-align: center;
	background: #999;
	color: white;
}
